body {
  background-color: transparent;
  font-family: 'MOTHER PIXEL2', 'Press Start 2P', 'DotGothic16', monospace;
}

.font-flat {
  font-family: 'Press Start 2P', 'BestTenDot';
}

.font-readable {
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', 'Meiryo', sans-serif;
}

.text-outline {
  text-shadow: -4px -4px 0 #000000, -4px -2px 0 #000000, -4px 0px 0 #000000,
    -4px 2px 0 #000000, -4px 4px 0 #000000, -2px -4px 0 #000000,
    -2px -2px 0 #000000, -2px 0px 0 #000000, -2px 2px 0 #000000,
    -2px 4px 0 #000000, 0px -4px 0 #000000, 0px -2px 0 #000000,
    0px 2px 0 #000000, 0px 4px 0 #000000, 2px -4px 0 #000000, 2px -2px 0 #000000,
    2px 0px 0 #000000, 2px 2px 0 #000000, 2px 4px 0 #000000, 4px -4px 0 #000000,
    4px -2px 0 #000000, 4px 0px 0 #000000, 4px 2px 0 #000000, 4px 4px 0 #000000;
}

.led-dot {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  border-radius: 0;
}
