@import './styles/lottery.css';
@import './styles/overlay/base.css';
@import './styles/overlay/fax.css';
@import './styles/overlay/clock.css';
@import './styles/overlay/music.css';
@import './styles/overlay/reward-count.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
